[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
matplotlib = "*"
jupyter = "*"
ipykernel = "*"
beautifulsoup4 = "*"
urllib3 = "*"
pandas = "*"
typing = "*"

[dev-packages]

[requires]
python_version = "3.14"
python_full_version = "3.14.2"
